/*
font-family: 'Staatliches', cursive;
font-family: 'Comfortaa', cursive;
*/


@import url('https://fonts.googleapis.com/css?family=Comfortaa|Staatliches');

* {
    box-sizing: border-box;
    margin: auto;

}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 2%;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #ed0000;
    font-family: 'Staatliches', cursive;
}

h3 {
    text-align: center;
}

.nasaimg img {
    display: block;
    width: 80%;
    margin: auto;
}


.navbar {
    color: red;
}


.left {
    margin-left: 0;
    align-content: left;
}

p {
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

.md .navbar {
    background: #0b3d91;

}
